DB_HOST=ep-ancient-waterfall-ao1cqpfi-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Js2MfGn0UyAr

JWT_SECRET=change-me-to-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=60

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=springboardmentor786@gmail.com
SMTP_APP_PASSWORD=kqizqjnnqoupeyha

OTP_EXPIRY_MINUTES=10

BACKEND_URL=http://backend:8000
