streamlit
fastapi
uvicorn[standard]
python-multipart
requests
psycopg2-binary
PyJWT
bcrypt
python-dotenv
email-validator
langdetect
ftfy
emoji
deep-translator
vaderSentiment
spacy
pandas
matplotlib
seaborn
transformers
accelerate
torch
stopwordsiso
reportlab
bleach
